.mypar{ 
text-align: center; 
padding-right: 8%;
padding-left: 8%;
    
}

.itssavvysav{
font-family: georgia sans-serif;
font-style: bold;
color: hotpink;
    
}

.color{
color:gold
}

.italic{
    font-style: italic;
}

#resume{
    position: relative;
    text-align: center;
        
}
#resume li{
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 50px;
    float: right;
    
}
#resume ul{
    list-style-type: none;
    
}

#resume a{
    color: grey;
}

#resume a:hover {
    color: black;
    text-decoration: underline;
}

#savandsimba{
    width: 80%;
    padding-left: 25% 
}
#woosha{
    width: 80%;
    padding: 8%;
    margin-left: 10%;
}

body{
font-family: georgia;
}
#header .masthead{
   font-family: georgia; 
}

#sav1{
    width: 80%;
    
}
